
.about-us-container {
  padding: 0;
  margin: 0; 
}

/* Styling for About Us Section */
.about-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  border-radius: 12px;
  padding: 3rem; 

}

.about-us-text {
  max-width: 50%; 
  text-align: left;

  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
  color: #dddddd;
  margin-top: 2rem;
  line-height: 1.6;

  font-weight: 300; 
  font-family:'Poppins',sans-serif;
}

.about-us-title {
  font-size: 3.5rem; 
  font-weight: 900;
  color: #091a45; 
  line-height: 1.2;
  margin-bottom: 1.5rem; 
  letter-spacing: 0.5px; /
}

.about-us-subtitle {
  font-size: 2.2rem; 
  font-family: "Beautifully Delicious Script", sans-serif;
  color: #091a45;
  opacity: 0.85;
  margin-bottom: 2.5rem; 
}

.about-us-description {
  font-size: 1.25rem; 
  color: #333; 
  font-weight: 400;
  line-height: 1.7; 
  font-family: 'Poppins', sans-serif; 
}

/* Styling for the Image */
.about-us-image {
  max-width: 45%; 
  height: auto;
}

.macaron-image {
  width: 100%; 
  height: auto;
  border-radius: 12px;
 
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-us-section {
    flex-direction: column;
    align-items: center; /* Stack the elements vertically on smaller screens */
    padding: 2rem; /* Reduce padding for smaller screens */
  }

  .about-us-text {
    text-align: center;
    max-width: 90%; /* Allow more space for text */
  }

  .about-us-title {
    font-size: 2.8rem; /* Adjust title size for smaller screens */
    margin-bottom: 1.2rem; /* Reduce bottom margin */
  }

  .about-us-subtitle {
    font-size: 2rem; /* Adjust subtitle size */
    margin-bottom: 1.5rem; /* Reduce bottom margin */
  }

  .about-us-description {
    font-size: 1.1rem; /* Smaller font size for better readability on small screens */
  }

  .about-us-image {
    max-width: 90%; /* Allow image to take up more space on smaller screens */
    margin-top: 2rem; /* Add margin above the image */
  }
}


/* Styling for Our Mission Section */
.our-mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; 
  border-radius: 12px; 
  
}

.mission-title {
  max-width: 40%;
}

.mission-title-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.mission-description {
  font-size: 1.25rem;
  color: #333;
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  max-width: 80%;
  text-align: left;
}

.mission-photo {
  max-width: 100%; 
  height: auto;
  border-radius: 8px; 

}

/* Responsive Design for Mission Section */
@media (max-width: 768px) {
  .our-mission-section {
    flex-direction: column;
    padding: 2rem;
  }

  .mission-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .mission-content {
    flex-direction: column;
    text-align: center;
  }

  .mission-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    text-align: left; /* Align text to the left for mobile view */
  }

  .mission-photo {
    max-width: 80%; /* Allow the image to take up more space on mobile */
    margin-top: 2rem;
  }
}
