.header {
  position: relative;
  min-width: 100%;
  height: 74rem;
  background-image: url("Home-images/BANNER.png");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
.logo {
  margin-left: 2.9rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.navbar-collapse {
  background-color: transparent; /* Default background */
  text-align: left;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
#home-link.active {
  color: #ffffff; /* White color for the active link */
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.link {
  text-decoration: none;
  padding: 5px;
  color: #091a45;
  font-size: 1.563rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nav-item {
  margin-right: 2.1rem;
}
.nav-links li a.active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-right: 3rem;
  margin-left: 1rem;
}

.login-btn,
.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-btn {
  background-color: #091a45;
  border: none;
  width: 123px;
  height: 52px;
  color: #fff;
}
.signup-btn {
  width: 9.098rem;
  height: 3.275rem;
  background-color: #fff;
  color: #091a45;
  border: none;
  margin-right: 2rem;
  margin-left: 10px;
}
#welcome-text {
  position: absolute; /* Fixes the position within the header */
  top: 48%; /* Adjust this value to position vertically */
  left: 50%;
  transform: translate(
    -50%,
    -40%
  ); /* Centers the text horizontally and vertically */
  text-align: center;
  min-width: 100%; /* Make it responsive */
  max-width: 100vw; /* Keep the same width for larger screens */
  margin: 0 auto; /* Adjust margin to position it properly */
  overflow: hidden;
  z-index: 5;
}
#welcome-title {
  font-weight: 700;
  line-height: 1.39;
  text-align: center;
  color: #ffffff;
  font-size: 5.3125rem;
}
#welcome-subtitle {
  display: none;
}
.shop-now-btn {
  z-index: 4;
  margin-top: 4.2rem;
  background-color: #ddb7dc;
  width: 10rem;
  height: 3.313rem;
  color: #091a45;
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.44rem;
  font-style: normal;
  font-weight: 600;
  transition: background-color 0.3s;
}

.shop-now-btn:hover {
  z-index: 4;
  background-color: #d48aa6;
}

#vector-container1 {
  position: absolute; /* Fixes the position within the header */
  top: 54%; /* Adjust this value to position vertically */
  margin: -10px -10px;
  overflow-x: hidden; /* Prevents horizontal overflow */
  overflow-y: auto; /* Allows vertical scrolling */
  z-index: 3;
}
#vectorImg {
  width: 100%; /* Ensures the image is responsive */
  height: auto;
}
#main-home {
  max-width: 100%;
}
#about-us {
  padding-right: 10px;
  z-index: 1;
  height: 36rem;
  background-image: url("Home-images/about-usBG.png");
  background-color: #091a45;
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  background-origin: padding-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5%; /* Adjust padding for positioning */
}
#about-us-heading {
  display: none;
}
#about-us-content {
  max-width: 40rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 0.9rem;
  margin-top: 8rem;
}

#about-us p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
  color: #dddddd;
  width: 48.0625rem;
  height: fit-content;
  margin-bottom: 2rem;
}

.read-more-btn {
  width: 10.20175rem;
  height: 3.33206rem;
  background-color: #ddb7dc;
  color: #091a45;
  padding: 0.54rem 1.05rem;
  border-radius: 2.42rem;
  font-size: 1.48rem;
  font-weight: 600;
  text-decoration: none;
}
#featuredProd {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url("Home-images/FeaturedProd-BgImg6.png");
  background-size: contain; /* Ensures the image covers the entire div */
  background-position: top right; /* Centers the image within the div */
  background-size: auto;
  background-repeat: no-repeat;
}
#title-desc {
  min-height: 17rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
#featured-title {
  display: none;
}

.featured-description {
  color: #091a45;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60rem;
  margin-bottom: 3.5rem;
  justify-self: end;
}
#card-container {
  display: flex;
  justify-content: center;
}
.arrows {
  margin-top: -120px;
  background-color: transparent;
  border: none;
  max-width: 1.62919rem;
  height: fit-content;
}

.arrows img {
  width: 1.62919rem;
  height: auto;
}
.product-row {
  width: 92vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px !important;
  margin-bottom: 2rem;
}

.product-card {
  border-radius: 8px;
  padding: 15px;
  width: 15rem; /* Adjusted width for a square image */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 23.938rem;
  height: 29.375rem;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product-card h4 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #091a45;
  line-height: normal;
  font-style: normal;
}
.add-to-cart-btn {
  background-color: transparent;
  border: 1px solid #091a45;
  color: #091a45;
  padding: 8px 20px;
  border-radius: 2.47rem;
  margin-top: 0.8rem;
  cursor: pointer;
  color: #091a45;
  font-size: 1.48088rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.add-to-cart-btn:hover {
  background-color: #ddb7dc;
}
.show-more-btn {
  padding: 0.55rem 0.95rem;
  background-color: #ddb7dc;
  color: #091a45;
  border: none;
  border-radius: 39.5px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Set a high value to bring it to the front */
}

.show-more-btn:hover {
  background-color: #d48aa6;
  z-index: 1000; /* Set a high value to bring it to the front */
}
#todays-treat {
  position: relative;
  height: 63rem;
  width: 100%;
  background-image: url("Home-images/treatBG.png");
  background-size: contain; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#treat-content {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 14rem;
}
#brownie-title {
  margin-bottom: 2rem;
  color: white;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#order-now-btn {
  width: 10.375rem;
  height: 3.3125rem;
  background-color: #ddb7dc;
  color: #091a45;
  padding: 0.6rem 0.7rem;
  font-size: 1.48rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 2.47rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
#order-now-btn:hover {
  background-color: #c288ab;
}

#refer-friend {
  max-height: 45.19rem;
  width: 100%;
  margin-top: 9rem;
}
#refer-container {
  height: 37.9965rem;
  width: 100%;
  background-color: #ddb7dc;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#refer-img {
  height: fit-content;
  display: flex;
  justify-content: center;
  width: 39%;
}
#cookie-img {
  width: fit-content;
  height: fit-content;
  border-radius: 0.72438rem;
}

#refer-content {
  background-image: url("Home-images/Share the Sweetness everyday.png");
  background-size: auto; /* Ensures the image covers the entire div */
  background-position: top 60px center; /* Centers the image within the div */
  background-repeat: no-repeat;
  color: white;
  display: flex;
  width: 57%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 2;
}

#refer-title {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5rem;
  font-size: 3.57188rem;
  font-style: normal;
  line-height: normal;
}


.refer-text {
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 56rem;
}
.refer-text:nth-child(2) {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#refer-btn {
  width: 10.20175rem;
  height: 3.33206rem;
  background-color: #ffffff;
  color: #091a45;
  font-size: 1.48088rem;
  font-weight: 600;
  padding: 0.52rem 1.31rem;
  border: none;
  border-radius: 2.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-style: normal;
  line-height: normal;
}
#refer-btn:hover {
  background-color: #d48aa6;
  color: #ffffff;
}
#customize-cake {
  background-image: url("Home-images/customizeBG.png");
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire div */
  background-repeat: no-repeat;
  height: 63rem;
  width: 100%;
  margin: 0 0;
  margin-top: 5.5rem;
}
#customize-content {
  position: relative;
  top: 12.8rem;
  left: 6.88rem;
  width: 54rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: start;
}
#custom-title {
  color: #091a45;
  font-size: 3.57188rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.9rem;
}
#custom-subtitle {
  color: #091a45;
  font-family: "Beautifully Delicious Script";
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  opacity: 50%;
  line-height: 2.4rem;
  margin-top: -0.7rem;
  margin-bottom: 1.2rem;
  height: 5.125rem;
}
#custom-text {
  color: #091a45;
  text-align: justify;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 4.1875rem;
  margin-left: 0.5rem;
}
#custom-btn {
  margin-top: 0.9rem;
  width: 13.9375rem;
  height: 3.3125rem;
  color: #091a45;
  padding: 0.53rem 1.1rem;
  font-size: 1.48088rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2.46819rem;
  background: #ddb7dc;
  border: none;
  margin-left: 0.7rem;
}
/*Sweet Reviews Section*/
#sweet-reviews {
  max-height: 57rem;
  max-width: 120rem;
  margin-top: 2rem;
  overflow: hidden;
}
#review-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
#review-title {
  color: #091a45;
  font-size: 3.57188rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 27.25rem;
  text-align: center;
  margin-left: 3.4rem;
}
#review-subtitle {
  color: #091a45;
  font-family: "Beautifully Delicious Script";
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  opacity: 50%;
  width: 33.625rem;
  height: 4.625rem;
  text-align: center;
  margin-top: -1.3rem;
}

#reviews-container {
  height: 34.21rem;
  width: 147rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -14.3rem;
}
.review-card {
  background: #091a45;
  background-image: url("Home-images/review-cardBG.png");
  background-position: top 7.44rem center;
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 46.85425rem;
  min-height: 34.20963rem;
  position: relative;
  padding-top: 7.8rem;
}
.review-card:nth-child(1),
.review-card:nth-child(3) {
  background: #ddb7dc;
  background-image: url("Home-images/sweet-reviewBG2.png");
  background-position: top 7.44rem center;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 50%;
}

.card-body {
  height: 34.20963rem;
  width: 34.20963rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  margin-left: 3.75rem;
}
.card-body svg {
  margin-left: 0.5rem;
  opacity: 80%;
}
.review-card-title {
  color: #fff;
  text-align: justify;
  font-size: 1.65531rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4rem;
}
.review-text {
  width: 38.5625rem;
  height: fit-content;
  margin-top: 5rem;
  margin-left: 1.05rem;
  color: white;
  text-align: justify;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #64748b;
}

.carousel-indicators .active {
  background-color: #091a45;
} */
#dots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 4.36819rem;
  justify-self: center; 
  margin-top: 5rem;
}
.dots {
  width: 1.05756rem;
  height: 1.05756rem;
  border-radius: 1.05756rem;
  opacity: 0.49;
  background: #091a45;
  border: none;
}
.dots:nth-child(2) {
  opacity: 100%;
}
/* Join Letter Section */
#joinNewsletter {
  background-image: url("Home-images/join-newsBG.png");
  position: relative;
  background-size: cover; /* Ensures the image covers the entire div */
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -4rem;
}
.join-container {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#newsletter-title {
  display: none;
}

#newsletter-subtitle {
  display: none;
} 
.join-text {
  max-width: 58rem;
  margin-bottom: 1.8rem;
}
.join-text p {
  color: #091a45;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-btn {
  padding: 0.55rem 1.25rem;
  font-size: 1.48rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0.55rem 1.05rem;
  background-color: #ddb7dc;
  color: #091a45;
  border-radius: 2.47rem;
  text-decoration: none;
  text-align: center;
}

.subscribe-btn:hover {
  background-color: #091a45;
  color: #ddb7dc;
}

footer {
  max-height: 22.5rem;
  width: 100%;
}
#footer-content {
  width: 100%;
  height: 18.63rem;
  padding: 4rem 7rem;
  padding-top: 5rem;
  margin-bottom: 1.5px;
}
#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}
.footer-list {
  max-width: 50rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

#list1 {
  height: 10.05rem;
  width: fit-content;
  display: flex;
  margin: 0 0;
  padding: 0 0;
  padding-left: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
}
#list2 {
  height: 10.05rem;
  width: fit-content;
  display: flex;
  margin: 0 0;
  padding: 0 0;
  flex-direction: column;
  justify-content: space-between;
}
#list3 {
  height: 6rem;
  width: fit-content;
  display: flex;
  margin: 0 0;
  padding: 0 0;
  flex-direction: column;
  justify-content: space-between;
}

#list1 .footer-text:first-child {
  font-weight: 600;
}
#location-text {
  text-decoration: none; /* Remove any default underline */
  display: inline-block; /* Allows better control over background positioning */
  background-image: linear-gradient(white, white); /* Color of the underline */
  background-repeat: no-repeat;
  background-position: bottom left; /* Centers the underline */
  background-size: 23% 0.5px; /* Width of 30% and thickness of 1px */
  padding-bottom: 0.25rem; /* Adjust spacing between text and underline */
}
.footer-text {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  list-style-type: none;
}
#socials {
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#follow-text {
  font-size: 1.5625rem;
  font-weight: 300;
  color: white;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.social-icon {
  width: fit-content; /* Adjust size based on preference */
  height: fit-content;
}
#copyright-cont {
  height: 3.4rem;
  padding: 1rem 0;
}
#copyright-text {
  color: #f2f2f2;
  font-size: 0.84244rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Medium Screens (1200px and below) */
@media (max-width: 1200px) {
  .header {
    height: 60rem;
  }
  #welcome-title {
    font-size: 4rem; /* Slightly smaller on large tablets and smaller desktops */
  }
  #vector-container1 {
    display: none;
  }
  .header {
    position: none;
    height: 50rem;
  }
  .auth-buttons {
    gap: 5px;
    margin-right: 2rem;
  }
  .login-btn,
  .signup-btn {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
  }
  .shop-now-btn {
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
  }
}




