.background-text-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 5rem;
  font-weight: bold;
  opacity: 0.03;
  user-select: none;
  margin-top: 30px;
}

.background-text {
  white-space: nowrap;
}

.cart-main {
  text-align: center;
  padding: 100px 20px;
}

.cart-title {
  font-size: 3rem;
  color: #091a45;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.cart-subtitle {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.cart-content-placeholder {
  font-size: 1.2rem;
  color: #444;
}
